//Button CSS
button, .button {
    margin-top: 20px;
    width: 100%;
    color: $heading3_color;
    height: 50px;
    border: 3px solid $heading3_color;
    background-color: transparent;
    font-family: $heading_font;
    font-size: 22px;
    
    &:hover {
        background-color: $heading3_color;
        color: $header_color;
    }
}