/*Header image styles
.home-header {
     background-image: url(../images/backgrounds/bg_home.png); 
     background-size: 100%; 
     background-attachment: fixed; 
}

.design {
    background-image: url(../images/backgrounds/bg_design.png); 
    background-size: 100%; 
    background-attachment: fixed; 
}

.coding {
    background-image: url("../images/backgrounds/bg_coding.png");
    background-size: 100%;
    background-attachment: fixed;
}

.contact {
    background-image: url("../images/backgrounds/bg_contact.png");
    background-size: 100%;
    background-attachment: fixed;
}*/