//Nav CSS
nav {
    a {
        text-decoration: none;
        :hover {
            color: grey;
        }
    }
    li {
        display: inline-block; //Display nav inline
        color: $header_color;
        width: 200px;
        margin-left: 20px;
        font-size: 25px;
        font-family: $heading_font;
        
        :hover {
            font-weight: grey;
        }
    }
    //Dropdown code
    .dropdown { 
        position: relative;
        display: inline-block;
        :hover {
            font-weight: grey;
        }
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: transparent;
        width: 300px;
        margin: 0;
        padding: 12px 16px;
        z-index: 1;
        text-align: left;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .block {
        display: block;
        margin: 0;
    }
    
    //Active tab code
    .active {
        font-weight: bold;
    }
    


}

.topnav {
    position: fixed;
}

//Nav Heading text 
h1 {
    position: fixed;
    display: inline;
    font-size: 25px;
    font-weight: normal;
    font-family: $heading_font;
    margin-left: 70%;
    color: $header_color;
}