//Grid variables
$grid_cols: 12;
$max_width: 100%;
$col_1_width: $max_width / $grid_cols;

//Font variables
$heading_font: 'Open Sans', sans-serif;;
$paragraph_font: Helvetica;

//Colours
$header_color: #ffffff;
$design_header_color: #1F1B1B;
$heading3_color: #1F1B1B;
$paragraph_color: #4A4A4A;
$hover_color: #9d9ea0;