//Import all CSS
@import 'variables';

//RESET STYLES
* {
    margin: 0px;
    padding: 0px;
}

//VARIABLES

//END OF VARIABLES

//Creating 12 column grid
@for $i from 1 through 12 {
    /*Column width*/
    .col-#{$i} { width: $col_1_width * $i };
}
@for $i from 1 through 12 {
    /*Column width*/
    .offset-#{$i} { margin-left: $col_1_width * $i };
}
//end of 12 column grid

body {
    background-color: $color;
    
    header {
        border: 1px solid black;
    }
}
