//Import all CSS files
@import 'variables';
@import 'headerbg';
@import 'nav';
@import 'fonts';
@import 'button';
@import 'footer';
@import 'contact-form';
@import 'imagegrid';

//RESET STYLES
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



//Creating 12 column grid
@for $i from 1 through 12 {
    /*Column width*/
    .col-#{$i} { width: $col_1_width * $i; float: left; display: block;};
}
@for $i from 1 through 12 {
    /*Column width*/
    .offset-#{$i} { margin-left: $col_1_width * $i; float: left;};
}


//end of 12 column grid
//Wrapper
#wrapper {
    display: table;
    
}


header {
    height: 100vh; //Make header height 100% of screen size
                           
    .heading_text {
        margin-top: 200px; //Lower heading text
    }
}

h2 {
    color: $header_color; //Set h2 colour
    
}

.designh2 {
    color: $design_header_color; //set designh2 colour
}

h2, h3 {
    margin-top: 50px;
    font-family: $heading_font; //set H fonts
}

h3 {
    color: $heading3_color; //Set h3 colour
    font-size: 22px; //Set h3 font size
}

p {
    font-family: $paragraph_font; //Set p font
    color: $paragraph_color; //Set p colour
    margin-top: 20px; 
    font-size: 18px; //Set p font size
    line-height: 1.5em; //set line height
}

//Define styles for the underline
.underline {
    margin-top: 6px;
    margin-bottom: 6px;
    height: 3px;
    background-color: $heading3_color;
}

//Define styles for the instagram widget appearing on home page
.insta_widget {
    border:none; 
    overflow:hidden; 
    height:495px;
    margin-top: 10px;
}

//Import mobile styles
@import 'mobile';